.event-card {
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    border-radius: 8px;
    height: 500px;
    width: 350px;
    margin-bottom: 15px;
    position: relative;
}

.event-card:hover {
    cursor: pointer;
    transition: all 0.25s;
    box-shadow: 3px 3px 5px 6px grey;
}

.event-image {
    width: 100%;
    height: 56.25%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

/* .buy-button {
    position: absolute;
    bottom: 35px;
    left: 126px;
} */

.buy-button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* @media only screen and (max-width: 362px) {
    .buy-button {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 15%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
} */

@media only screen and (max-width: 350px) {
    .event-card {
        width: 90vw;
    }
}