form {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.city-input,
.country-input {
    height: 40px;
    width: 30vw;
    margin-right: 15px;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    outline: none;
}

.search-btn {
    background-color: #1B98F5;
    border: none;
    border-radius: 8px;
    color: white;
    width: 100px;
    height: 50px;
    padding: 6px 12px;
    font-size: 1rem;
}

.search-btn:hover {
    background-color: #1878c2;
    cursor: pointer;
}

@media only screen and (max-width: 400px) {

    .country-input,
    .city-input {
        margin-top: 15px;
        width: 100%;
    }

    .search-btn {
        margin-top: 15px;
    }
}